<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center ">
                    <h2>About Me_</h2>
                    <hr class="empty">
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-lg-offset-2 align-self-center">
                    <p>hi, i am imran molla joy. i am a front-end developer. i am strong in web design. i design ui/ux. i make 2d/3d art and assets for video games.i have deep knowledge in color theory and color combinations.
					  </p>
                </div>
                <div class="col-lg-4">
                    <p>i make games. i'm good at programming logic. my primary programming language is c# and javascript.
					  </p>
                </div>
            </div>
        </div>
    </section>