<!-- Portfolio Grid Section -->
    <section id="portfolio">
	<div class="container">
        <div class="row">
            
            <h1 class="text-center">Porfolio_</h1>
            <hr class="empty">
            
        </div>
        <section class="portfolio grid-list" id="portfolio">
            <ul>
                {% for post in site.categories.Portfolio limit:6 %}
                <li>
                    <figure>
                        
                        <img src="{{ post.img }}" alt=" {{ post.title }}">
                        <figcaption>
                            <h3><a href="#{{ post.modalID }}" class="portfolio-link" data-toggle="modal">{{ post.title }}</a></h3>
                        </figcaption>
                    </figure>
                   
                </li>
                {% endfor %}
             </ul>
        </section>
        <div class="row">
            
               <div class="text-center"> <a href="/portfolio-list.html" class="portfolio-more">_More_</a>
                </div>
            
        </div>
		</div>
       
    </section>