<!-- Portfolio Grid Section -->
    <section id="portfolio">
	<div class="container">
        <div class="row">
            
            <h1 class="text-center">Porfolio_</h1>
            <hr class="empty">
            
        </div>
        <div class="post-list">
            {% for post in site.categories.Portfolio limit:6 %}
            <div class="single-post  transition-zoom-out" {% if post.img %} style="background: linear-gradient(rgba(0,0,0,0.84) 30%, #27cf8691 100%), url({{ post.img }});background-size:cover;
                background-position:center;  " {% endif %}>
    
                <h3><a href="#{{ post.modalID }}" class="portfolio-link" data-toggle="modal">{{ post.title }}</a></h3>
    
    
            </div>
            {% endfor %}
            
        </div>
        <div class="row">
            
               <div class="text-center"> <a href="/portfolio-list.html" class="portfolio-more">_More_</a>
                </div>
            
        </div>
		</div>
       
    </section>