<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="index">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M899NBJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include navbar.html %}
   <div id="swupx" class="transition-fade">
    
    {% include header.html %}
	
  	{% include portfolio.html %}
	
	
  	{% include about.html %}
	
	 {% include skills.html %}
	
	 {% include exploreblog.html %}
	
    {% include contact.html %}

    {% include footer.html %}

    {% include modals.html %}
    
  </div>
  {% include javascript.html %}
  </body>

</html>
