<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="index">

    {% include navbar.html %}
   <div id="swupx" class="transition-fade">
    
    {% include header.html %}
	 <div style="z-index: 99;">
	
  	{% include portfolio.html %}
	
	
  	{% include about.html %}
	
	 {% include skills.html %}
	
	 {% include exploreblog.html %}
	
    {% include contact.html %}

    {% include footer.html %}

    {% include modals.html %}
  </div>
    
  </div>
  {% include javascript.html %}
  </body>

</html>
