<!DOCTYPE html>
<html>
<title>Blog</title>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/dbfb45856036b87d079776600/7f051d35fcb21aa12ef5be60b.js");</script>
{% include head.html %}

<body id="page-top" class="blog">

    {% include navbar.html %}
    <div id="swupx" class="transition-fade transition-slide-down">
        {{ content }}
        {% include footer.html %}
        
    </div>
    {% include javascript.html %}
</body>

</html>